@import url("https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap");

body {
  background: hsl(185, 75%, 39%);
  font-family: "Kumbh Sans", sans-serif;
  font-weight: 400;
  font-size: 18px;
  margin: 0;
  padding: 0;
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  overflow: hidden;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: white;
  width: 350px;
  height: 375px;
  border-radius: 15px;
  overflow: hidden;
}

.top-img-container,
.bottom-img-container {
  position: absolute;
  max-width: 50%;
  z-index: -1;
}

.top-img-container {
  top: 0;
  left: 0;
}

.bottom-img-container {
  bottom: 0;
  right: 0;
}

.top-img-container img,
.bottom-img-container img {
  width: 150%;
}
.card-main {
  display: flex;
  flex-direction: column;
}

.top-img-container img {
  transform: translate(-30%, -60%);
}
.bottom-img-container img {
  transform: translate(0%, 55%);
}

.card-top,
.card-info {
  display: flex;
}

.card-top {
  flex-basis: 140px;
}

.card-info {
  flex-basis: 150px;
}

.card-top {
  background: url("images/bg-pattern-card.svg");
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.card-top img {
  border: 5px solid hsl(0, 0%, 100%);
  border-radius: 50%;
  transform: translateY(50.5px);
}

.card-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
  padding-top: 70px;
  gap: 8px;
  border-bottom: 1px solid hsla(227, 10%, 46%, 0.2);
}

.card-info .bio {
  display: flex;
  gap: 12px;
}

.bio .name {
  font-weight: 700;
  color: hsl(229, 23%, 23%);
}

.bio .age {
  color: hsl(227, 10%, 46%);
}

.city {
  font-size: 14px;
  color: hsl(227, 10%, 46%);
}

.card-bottom {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-grow: 1;
}

.stat {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 4px;
  margin-bottom: 16px;
}

.stat span:first-child {
  color: hsl(229, 23%, 23%);
  font-weight: 700;
}

.stat span:last-child {
  color: hsl(227, 10%, 46%);
  font-size: 12px;
}

footer {
  position: absolute;
  bottom: 25px;
  color: hsl(0, 0%, 100%);
}

.attribution {
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}

@media (max-width: 480px) {
  .top-img-container img {
    transform: translate(-20%, -30%);
  }
  .bottom-img-container img {
    transform: translate(20%, 25%);
  }
}
